.HPLC {
    text-align: center;
  }
  
  
  .HPLC-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .HPLC-link {
    color: #61dafb;
  }
  
  .form-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 5px;
    margin-top: 70px;
  }
  
  .upload-area {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }
  
  .upload-area input[type="file"] {
    margin-bottom: 1rem; /* Add some spacing between "Choose File" and "Upload" buttons */
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .form-label {
    margin-right: 0.5rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-center button {
    font-size: 1rem;
    padding: 6px 16px;
  }
  
  .nav-link {
    color: black;           /* Set the color to black */
    margin-right: 20px;     /* Add spacing between the links */
    margin-left: 20px;      /* Add margin from the left */
    text-decoration: none;
  }
  
  .navbar {
    margin-top: 10px; /* Add space from the top of the navigation bar */
  }